@import '../../node_modules/hamburgers/dist/hamburgers';

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: var(--full);
  height: var(--full);
  background: var(--white);
  color: var(--text-primary);
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  position: relative;
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: auto 1fr;

  @media (max-width: 1271px) {
    display: block;
  }
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: var(--text-secondary);
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
  font-family: inherit;
  white-space: nowrap;
}

button {
  outline: none;
  font: inherit;
  color: inherit;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  width: var(--full);
  font-size: 1rem;
  transition: all 0.3s ease;
  font-family: inherit;
  outline: none;
  color: inherit;
  outline-offset: -2px;

  &[type='search'] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

select {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// hamburger

.hamburger-box {
  border: none;
  outline: none;
  padding: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--text-secondary);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--text-secondary);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger:hover {
  opacity: 1 !important;
}

// 1271px, 659px, 565px, 436px, 319px
