:root {
  --text-primary: rgba(51, 51, 51, 0.8);
  --text-secondary: #333333;
  --light-green: #cfedc2;
  --dark-green: #4bbb46;
  --input-fade-bg: #f7f7f9;
  --goldish: #ffbe46;
  --white: #ffffff;
  --fade: #ccc;
  --fade-secondary: #eaecef;
  --grey: #a0a0a6;
  --blue: #1258ec;
  --main-bg: #fcfffb;
  --border-radius-mini: 7px;
  --full: 100%;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
  --box-shadow: 0 0 24px rgba(32, 33, 36, 0.1);
}
