:root {
  --text-primary: rgba(51, 51, 51, 0.8);
  --text-secondary: #333333;
  --light-green: #cfedc2;
  --dark-green: #4bbb46;
  --input-fade-bg: #f7f7f9;
  --white: #ffffff;
  --fade: #ccc;
  --fade-secondary: #eaecef;
  --main-bg: #fcfffb;
  --border-radius-mini: 7px;
  --full: 100%;
  // --page-nav-width: 250px;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
  --box-shadow: 2px 1px 6px 0 rgba(32, 33, 36, 0.2);
}
